header{
    margin: 0px;
    background-color: black;
    min-height: 150px;
}
header a{
    text-decoration: none;
    color: white;
}
body{
    margin: 0px;
}
section{
    background-color: white;
    }
#sec1{
       
        min-height: 250px;
    }
#sec2{
         margin: 0px;
        min-height: 250px;
    }
#sec3{

    }
#secbg1{
    min-height: 550px;
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    }
    #secbg1 div{
        
        min-height: 100px;
        min-width: h1;
        max-width: 250px;
        
        background-color: rgba(128, 128, 128, 0.267);
        margin-left: 5%;
        position: absolute;
        top: 20%;       
    }
    #mottext{
        color: white;
        text-align: center;
        font-size: x-large;
        padding: 20px;
        margin: 0px;
    }
#secbg2{
    min-height: 550px;
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    }
#mention{color: white;
text-align: center;}
p{
    font-size: 24px;
    margin: 0px;
    font-family: cursive;
}
h1{color: white;
text-align: center;
margin-bottom: 10px;
margin-top: 0px;
padding-top: 20px;
font-size: 50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bold;}
article{
    margin-left: 20px;
    max-width: 250px;
}
article p{
    text-align: justify;
    padding-top: 30px;
    

        } 
footer{
    background-color: black;
}
footer p{
    color: white;
    text-align: center;
    padding: 10px;
}



