@charset "UTF-8";

*{
/*height: 100%;*/
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    width: 1200px;
    padding: 10px;
    margin: auto;
    background-color: blueviolet;
   box-shadow: 5px 5px 15px black;
   border-radius: 10px;
    
}
body{
    background-color: palevioletred
    

}
h1{
text-align: center;
color: palevioletred


}
h2{

color: palevioletred
}
p{

color: white
}