@charset "UTF-8";
@font-face {
    font-family: 'Android' ;
    src: url('../fontes/idroid.otf'), format('opentype');
    font-weight: normal;

}
/* VARIÃVEIS*/
:root{
    --cor0: #c5ebd6; 
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
     
--fonte-padrao: Arial, verdana, helvetica, sans-serif;   
--fonte-destaque: 'Bebas Neue', 'cursive'; 
--fonte-android: 'Android', 'cursive';
    }
/*GROUPING TAGS*/
body{
    background-color: var(--cor0);
    
    }
header{
     background-color: var(--cor3);
     min-height: 100px ;
     padding-top: 50px;
      }
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;

}
header > p{
    color: white;
    text-align: center;
}
nav{
    background-color: var(--cor5);
    box-shadow: 0px, 7px, 9px black ;
}
nav a{
    color: white;
}
main{
    background-color: white;
    padding: 20px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}
main img{
    width: 100%;
}
main img.imgpq{
    width: 50%;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
article{}
aside{
    
}
footer{
    background-color: var(--cor5);
    color: white;
}

/*TAGS*/
p{}
a{}

/*CLASSES*/
*{
    margin: 0px;
    padding: 0px;
}